.App {
  text-align: center;
}



/* PositionCard.js */

.col-logo-position{ 
  background-size: cover;
  border-right: 1px solid #000

}

.row-card{
  border: 1px solid black;
  border-radius: 4px;
  height: 75px;
}

/* TeamCard.js */

.team-card{
  background-size: cover ;
  background-repeat: no-repeat;
  /* border: 1px solid #000 !important; */
  border-radius: 4px;
  height: 412px !important;
  
}

.team-card-body {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  opacity: 0.9;
  margin: 2%
}
