
body {
  background-image: url("./assets/imgs-other/bkgd.jpeg");
  font-family: 'Urbanist', sans-serif !important;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #111;
  margin-bottom: 5%
}

.App {
  text-align: center;
}

/* App.js */


.col-tab{
  background-color: #fff
}

.footer-row{
  margin-top: 5% !important
}

.row-info-container{
  background-color: #fff;
  opacity: 0.95;
  border-left: 2px solid #111;
  border-right: 2px solid #111;
  border-bottom: 2px solid #111
}

.col-main{
  height: 600px;
  overflow-y: scroll;
}

/* PositionCard.js */

.col-logo-position{ 
  background-size: cover;
  background-repeat: no-repeat;
  border-right: 1px solid #000;
  height: 100%;
  width: 20% !important;

}

.row-card{
  background-color: #fff;
  border: 1px solid black;
  margin: 2% !important;
  border-radius: 4px;
  height: 75px;
  opacity: 0.95
}

/* PositionField.js */

.row-positionfield-sub {
  border-bottom: 1px solid #111;
  height: 33%;
}

.col-right{
  width: 5% !important;
  border-left: 1px solid #111;
  height: 100%
}

.section-stats{
  background-color: #111;
  color: #fff;
  font-family: 'Sarpanch', sans-serif;
  font-size: 24px;
  height: 43%;
  padding-top: 3%;
}

.text-rank{
  /* color: #fff;
  font-family: 'Sarpanch', sans-serif;
  font-size: 24px;
  margin: 0px;
  padding: 0px; */

}

/* TeamCard.js */

.team-card{
  background-size: cover ;
  background-repeat: no-repeat;
  border: 1px solid #000 !important;
  /* border: none !important; */
  border-radius: 4px;
  height: 364px !important;
  padding: 10px
 
  
}

.team-card-body {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  opacity: 0.93;
  margin: 2%
}
