body {
  background-image: url("./assets/imgs-other/bkgd.jpeg");
  font-family: "Urbanist", sans-serif !important;
}

a {
  color: #111 !important;
  cursor: pointer !important;
  font-weight: 300;
  text-decoration: none !important;
}

h1 {
  font-family: "Kanit", sans-serif;
  font-size: 84px !important;
}

h2 {
  font-size: 24px !important;
  font-weight: 300 !important;
}

h3 {
  font-family: "Kanit", sans-serif;
  text-align: justify;
  font-weight: 700 !important;
  font-size: 30px !important;
  margin-top: 5% !important;
}

header {
  background-color: #fff;
  border-bottom: 2px solid #111;
  margin-bottom: 5%;
}

.App {
  text-align: center;
}

/* App.js */

.col-tab {
  background-color: #fff;
  cursor: pointer;
}

.footer-row {
  background-color: #fff;
  border-top: 2px solid #111;
  margin-top: 5% !important;
}

.row-info-container {
  background-color: #fff;
  opacity: 0.95;
  border-left: 1px solid #111;
  border-right: 1px solid #111;
  border-bottom: 1px solid #111;
}

.row-welcome {
  background-color: #fff;
  opacity: 0.95;
  border: 1px solid #111;
}

.col-main {
  height: 600px;
  overflow-y: scroll;
}

.span-footer-year {
  font-weight: 300;
}

.span-text-fresh-legs {
  font-family: "Kanit", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.text-footer {
  font-size: 14px;
  font-weight: 600 !important;
}

.text-welcome {
  text-align: justify;
  font-size: 15px;
}

/* Shared */

.margin-spacer-5 {
  margin: 0 5% !important;
}

.card-height-fix {
  height: 475px;
  overflow-y: scroll;
}

/* PlaceholderCard.js */

.text-placeholder-header {
  font-family: "Kanit", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.text-placeholder-subhead {
  font-size: 24px;
  font-weight: 700;
}

.text-justify {
  text-align: justify;
}

/* PositionCard.js */

.col-logo-position {
  background-size: cover;
  background-repeat: no-repeat;
  border-right: 1px solid #000;
  height: 100%;
  width: 20% !important;
}

.row-card {
  background-color: #fff;
  border: 1px solid black;
  margin: 2% !important;
  border-radius: 4px;
  height: 75px;
  opacity: 0.95;
}

/* PositionField.js */

.row-positionfield-sub {
  border-bottom: 1px solid #111;
  height: 34%;
}

.col-field {
  height: 100%;
  border-left: 1px solid #111;
}

.col-right {
  width: 5% !important;
  border-left: 3px solid #111;
  height: 100%;
}

.section-stats {
  background-color: #111;
  color: #fff;
  font-family: "Sarpanch", sans-serif;
  font-size: 36px;
  height: 67%;
  padding-bottom: 4% !important;
}

.text-avg {
  font-family: "Sarpanch", sans-serif;
  font-size: 36px;
  padding-bottom: 2%;
}

.text-field-header {
  font-weight: 300;
}

/* TeamCard.js */

.team-card {
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #000 !important;
  border-radius: 4px;
  height: 364px !important;
  padding: 10px;
}

.team-card-body {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  opacity: 0.93;
  /* margin: 2% 2% 2% 2%; */
  width: 100%;
}

.text-team-name {
  font-family: "Kanit", sans-serif;
  font-size: 42px;
  font-weight: 700;
}

.row-team-card-header {
  font-weight: 300;
  height: 10%;
}

/* TeamRow.js */

.row-team-row {
  border-top: 1px solid #fff;
  /* width: 100% !important */
}

.col-team-row {
  border-left: 1px solid #fff;
  padding: 0% !important;
  width: 25% !important;
  margin-bottom: 0;
}

.col-team-row-dark {
  border-top: 1px solid #111;
  border-right: 1px solid #111;
}

.text-team-row-position {
  width: 100%;
  font-family: "Sarpanch", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.text-team-row-avg {
  font-family: "Sarpanch", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.text-team-row-rank {
  background-color: #111;
  color: #fff;
  font-family: "Sarpanch", sans-serif;
  font-size: 22px;
}

.text-team-row-zscore {
  background-color: #111;
  font-family: "Sarpanch", sans-serif;
  font-size: 22px;
}

@media (max-width: 600px) {

/* App.js */

.col-tab{
  width: 50% !important;
  font-size: 18px
}

/* PlaceholderCard.js */

.text-placeholder-header{
  font-size: 24px;
  font-weight: 800
}

  /* PositionField.js */
  .col-field {
    width: 85px !important;
  }

  .col-logo-position {
    background-size: cover;
    width: 92px !important;
  }

  .col-right {
    display: none;
  }

  .row-card {
    height: 60px !important;
  }

  .text-field-header {
    font-size: 14px;
  }

  .text-avg,
  .text-rank,
  .text-diff {
    font-size: 20px !important;
  }

  /* TeamCard.js */

  .col-team-card-header {
    width: 70px !important;
    font-size: 14px;
  }

  .row-team-card-header {
    width: 300px !important;
    height: 50px;
  }

  .team-card-body {
    height: 340px;
    overflow-y: scroll;
  }

  .text-team-name {
    font-size: 28px;
  }

  /* TeamRow.js */

  .row-team-row {
    width: 310px;
  }

  .col-team-row-dark {
    width: 70px !important;
  }
}
